body{
  background-color: #3E505B;
}

#doctorContainerName{
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
  border: 5px solid #1D84B5;
  padding: 30px 30px 30px 30px;
  background-color: #0A2239;
  box-shadow: 0px 0px 25px #0A2239;
}

#doctorContainerMalady{
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
  border: 5px solid #1D84B5;
  padding: 30px 30px 30px 30px;
  background-color: #0A2239;
  box-shadow: 0px 0px 25px #0A2239;
}

hr {
    border: none;
    height: 5px;
    color: #0A2239;
    background-color: #0A2239;
}

h3{
  font-weight: bold;
  font-family: sans-serif;
  font-size: 25px;
  color: #53A2BE
}

.jumbotron {
  box-shadow: 0px 0px 25px black;
  background-color: #53A2BE;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#applePhoto{
  width: 150px;
  height: 150px;
  float: right;
}

h1 {
  color: white;
  text-align: center;
  font-size: 80px;
  font-family: "Advent Pro";
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#nameSearch {
  margin-top: 30px;
  color: #53A2BE;
  font-size: 35px;
  font-family: Helvetica;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#maladySearch {
  margin-top: 30px;
  color: #53A2BE;
  font-size: 35px;
  font-family: Helvetica;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h4{
  margin-top: 30px;
  color: #53A2BE;
  font-size: 35px;
  font-family: Helvetica;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h2 {
  margin-top: 30px;
  color: black;
  text-align: center;
  font-size: 50px;
  font-family: 'Great Vibes', Helvetica, sans-serif;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

#doctorPhoto {
  box-shadow: 0px 0px 25px #0A2239;
  height: 650px;
  width: 1110px;
}

#profileImage {
  float: left;
  height: 200px;
  width: 200px;
  border: 5px solid #53A2BE;
}

#doctorResult {
  margin-bottom: 300px;
}
